@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --breakpoint-laptop: 90rem;
  --breakpoint-desktop: 120rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Black Shades */
  --clr-primary: #141414;
  --clr-sec: #0f0f0f;
  --clr-teriary: #1f1f1f;
  --clr-quaternary: #1a1a1a;
  --clr-quinary: #262626;

  /* Absolute Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Black Shades */
  --black-06: #0d0d0d;
  --black-08: #1a1a1a;
  --black-10: #262626;
  --black-12: #f5f5f5;
  --black-15: #1f1f1f;
  --black-20: #2a2a2a;
  --black-25: #333333;
  --black-30: #404040;

  /* Grey Shades */
  --gray-def: #999999;
  --gray-60: #666666;
  --gray-65: #5c5c5c;
  --gray-70: #525252;
  --gray-75: #f5f5f5;
  --gray-80: #4a4a4a;
  --gray-90: #1f1f1f;
  --gray-95: #777878;
  --gray-99: #f0f0f0;
  /* Red Shades */
  --red-def: #e50000;
  --red-45: #e60000;
  --red-50: #ff0000;
  --red-55: #ff1a1a;
  --red-60: #ff3333;
  --red-80: #ff6666;
  --red-90: #ff9999;
  --red-95: #ffc2c2;
  --red-99: #fff1f1;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--clr-primary);
  --color-sec: var(--clr-sec);
  --color-teriary: var(--clr-teriary);
  --color-quaternary: var(--clr-quaternary);
  --color-quinary: var(--clr-quinary);

  --color-gray-def: var(--gray-def);
  --color-gray-60: var(--gray-60);
  --color-gray-65: var(--gray-65);
  --color-gray-70: var(--gray--70);
  --color-gray-75: var(--gray--75);
  --color-gray-80: var(--gray--80);
  --color-gray-90: var(--gray--90);
  --color-gray-95: var(--gray--95);
  --color-gray-99: var(--gray--99);

  --color-red-def: var(--red-def);
  --color-red-45: var(--red-45);
  --color-red-50: var(--red-50);
  --color-red-55: var(--red-55);
  --color-red-60: var(--red-60);
  --color-red-80: var(--red-80);
  --color-red-90: var(--red-90);
  --color-red-95: var(--red-95);
  --color-red-99: var(--red-99);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-base);
    --foreground: #ededed;
  }
}
body {
  background: var(--clr-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {


  .cta-image {
    @apply bg-[url('/assets/cta-bg-mobile.png')] bg-no-repeat bg-cover bg-center
           laptop:bg-[url('/assets/cta-bg-desktop.png')] laptop:bg-no-repeat laptop:bg-cover laptop:bg-center;
  }
  .movie-hero {
    @apply bg-[url('/assets/hero-movie-mobile.png')] bg-no-repeat bg-cover bg-center
           laptop:bg-[url('/assets/hero-movie-mobile.png')] laptop:bg-no-repeat laptop:bg-cover laptop:bg-center;
  }
}
